<h1><%= @poll.name %></h1>
<p><%if Time.now - @poll.created_at < 1 %>
<%= "This is the only time this link will appear! Write it down! Your edit link is"%> <%= link_to "#{edit_poll_url(@poll.slug)}", edit_poll_path(@poll.slug)%>
<br>
Send <%= link_to "#{poll_url(@poll.id)}", poll_url(@poll.id)%> to the people you want to poll!
<%end%>
<p>

<% poll_questions = @poll.questions.all%>
<% poll_questions.each do |pq|%>
  <h3>Question: <%= pq.value%></h3>
  <% answer = pq.answers.new %>

    <%= form_for(answer) do |answer|%>

      <%= answer.label :value, "Enter the response to this question"%>
      <%= answer.text_field :value %>
      <%= answer.hidden_field :question_id, :value => pq.id%>

      <br>
      <%= answer.submit "Answer Question" %>

  <% end %>

<%end%>



